@charset "utf-8";

.rot-neg-90 {
    -moz-transform:rotate(-90deg); 
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: top left;
    -o-transform: rotate(-90deg);
    -o-transform-origin:  top left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

a{color:0x0000FF !important;}
a:hover{color:0x0000FF !important;}
a:visited{color:0xFFCCCC !important;}

body {
	background-color: #67829B;
}

.main-boundry
{
	width: 300px;
	height: 400px;
	position: fixed;
	padding: 0px;
	top: 50%;
	left: 50%; 
	margin-top: -200px;
	margin-left: -150px;
}

.info-panel {
	width: 300px;
	height: 400px;
	position:fixed;
	float: left;
	text-align: center;
    z-index: 0;
}

.info-main-panel {
	width: 300px;
	height: 400px;
	position:relative;
	float: left;
	text-align: left;
	top: -30px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 2px 4px 0px 4px #576674;
	z-index: 0;
}

.info-side-button {
	width: 100px;
	height: 30px;
	position: relative;
	left: -30px;
	background-color: inherit;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: 'Asap', Arial;
	font-weight: 400;
	font-size: 10pt;
	box-shadow: -4px 0px 0px 0px #576674;
	z-index: 10;
}

#about { z-index: 10; }
#projects { z-index: 5; }
#contact { z-index: 0; }
#shadow { z-index: -10; }

#about .info-main-panel{
	background-color: #F7E3C6; 
	border-top-left-radius: 0px;
}

#projects .info-main-panel{
	background-color: #B39F83;
    text-align: center;
    overflow: none;
}

#contact .info-main-panel{
	background-color: #EFCC9A;
}

#about .info-side-button {
	top: 100px;
	background-color: #F7E3C6;
}

#projects .info-side-button {
	top: 200px;
	background-color: #B39F83;
}

#contact .info-side-button {
	top: 300px;
	background-color: #EFCC9A;
}

#shadow .info-main-panel{
	background-color: #576674;
	top: 30px;
	left: 30px;
}

/* NEW SHIT HERE*/

.project-box {
    float: left;
    width: 300px;
    height: 250px;
    font-family: Arial;
    font-size: 14;
    font-weight: 800;
}

.bg1 {
    background-image:url('../img/bg.png');
    background-repeat:repeat-x repeat-y;
}

.bg2 {
    background-image:url('../img/bg2.png');
    background-repeat:repeat-x repeat-y;
}

.title {
    padding-top: 15px;
}

.project-box img {
    width: 270px;
    position: relative;
    top: 30px;
} 

#selfie {
	height: 200px;
	width: 160px;
	position: relative;
	left: 15px;
	top: 15px;
	margin-bottom: 15px;
	box-shadow: 1px 3px 0px 3px #576674;
}

.title {
	font-family: 'Asap', Arial;
	font-weight: 400;
	font-size: 20pt;
	padding-left: 20px;
	padding-top: 10px;
}

.info-main-panel ul {
	font-family: 'Asap', Arial;
	font-weight: 400;
	font-size: 11pt;
    /* Text color */
    list-style-type: none;
	padding-left: 20px;
}

.info-main-panel ul li:before {
    /* Unicode bullet symbol */
    content: '\25A0 ';
    /* Bullet color */
    color: #576674;
    padding-right: 0.5em;
}